* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    margin: auto;
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
}

@media (max-width:995px) {
    .nav-item {
        width: 100% !important;
        background-color: #fff;
        color: #000;
        margin-bottom: 10px;
    }

    .navbar-toggler ul {
        background-color: #fff;
        padding-left: 20px;
    }

    .navbar-nav {
        padding-left: 20px !important;
        margin-bottom: 0;
    }

    .header-list {
        text-transform: uppercase;
        text-align: left;
        font-size: 14px !important;
        padding: 0px 15px;
        box-shadow: 1px 1px 8px 1px grey;
    }

    .header-top {
        display: none;
    }

    .form-section {
        display: block;
    }

    td {
        font-size: 14px;
    }

    .cust-margin1 {
        margin-top: 20px !important;
    }

    .block {
        display: block;
    }

    .bg1,
    .bg2 {
        width: 100%;
        height: 100vh !important;
    }

    .bg1 {
        background-image: url("../images/bg-2.jpg");
        width: 100%;
        height: 100vh !important;
        background-size: cover;
        background-position: center;
    }

    .bg2 {
        background-color: #07294db9;
        position: absolute;
        z-index: 1;
    }

    .fa-size i {
        font-size: 35px !important;
    }

    .fa-size span {
        font-size: 35px !important;
        color: #ffc600;
        margin-bottom: 30px;
    }

    .py-5-cust {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .py-4-cust {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
}

.call-custom {
    position: fixed;
    top: 87%;
    right: 16px;
    z-index: 16000160 !important;
}

.whats-custom {
    position: fixed;
    top: 82%;
    left: 0px;
    z-index: 16000160 !important;
    background-color: #3a8106;
    border-radius: 25px;
    padding: 0px 15px;
    height: 50px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sample {
    color: red;
}

.header-top {
    background-color: #3a8106;
    padding-top: 9px;
    padding-bottom: 5px;
    color: white;
}

.fa-color {
    color: #c6c6c6;
}

.nav-hove a {
    transition-duration: 0.4;
    transition-property: all;
}

.nav-hove a:hover {
    color: #ffc600;
}

.header-list {
    text-transform: uppercase;
    font-size: 16px;
}

.header-list li a {
    color: black;
}

.line-height p {
    font-weight: 400;
    line-height: 30px !important;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
    border-bottom: 1px solid #cecece;
    box-shadow: 0px 0px 191px 0px rgba(0, 0, 0, 0.06);
}

.sticky-header ul li a {
    font-size: 14px;
}

form {
    padding: 0px 40px;
    overflow: hidden;
}

.btn-color {
    border: none !important;
    background-color: #ffc600 !important;
    color: white !important;
    height: 40px;
    overflow: hidden;
    transition-duration: 0.4s;
    transition-property: all;
}

.btn-color:hover {
    background-color: #002147 !important;
    color: #ffc600 !important;
}

.form-header-round {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

input {
    height: 55px;
}


/* Courses section */

.bg {
    background-color: #cfcfcf;
}

.card {
    border: none;
}

.card-body {
    padding-top: 15px !important;
    padding-bottom: 5px;
    font-size: 16px;
}

.card {
    --bs-card-border-width: 0;
    margin-bottom: 30px;
    overflow: hidden;
    text-align: center;
    border: none !important;
    /* box-shadow: 3px 4px 10px 4px grey; */
}

.card-title {
    margin-bottom: 0 !important;
}

.card .img1 {
    transition-duration: 1s;
}

.card .img1:hover {
    transform: scale(1.1);
}

.card-body:hover {
    color: #3a8106;
}


/* Table section */

.table-section table {
    padding-left: 15px;
    padding-right: 15px;
}

.head-bg tr th {
    background-color: #002147;
    color: white;
}

th,
td {
    padding: 15px !important;
}

table td:last-child {
    text-align: center;
}

table td a:last-child {
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    color: red;
}


/*Training mode section*/

.pt-3-pad {
    padding-top: 0rem !important;
}

.card-pad {
    padding: 5px 10px !important;
}

.custom1 img {
    width: 100%;
}

.custom1 figure img {
    width: 25%;
}

.custom1 figure {
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom1 figcaption {
    padding: 5px 10px;
}

.custom1 figcaption p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #000;
    margin: 0px;
}

.custom1 figcaption a {
    text-decoration: none;
    color: #000;
}

.figure-height {
    height: 42%;
}

.bg1,
.bg2 {
    width: 100%;
    height: 40vh;
}

.bg1 {
    background-image: url("/images/bg-2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

.bg2 {
    background-color: #07294db9;
    position: absolute;
    z-index: 1;
}

.fa-size i {
    font-size: 50px;
}

.fa-size span {
    font-size: 40px;
    color: #ffc600;
}

.bg3 {
    background-color: #edf0f2;
}

.bg4 {
    background-color: #e9e9e9;
}

.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background-color: black !important;
}

.custom-h5 {
    padding: 15px 0px;
    text-align: center;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.ml {
    margin-left: 80px;
}

.height {
    line-height: 30px;
}

.bg5 {
    background-color: #3a8106;
}

.link ul li a {
    color: #fff;
    font-size: 15px;
}

.link ul {
    list-style-type: none;
    line-height: 35px;
    padding-left: 0px;
}

.link ul li a {
    text-decoration: none;
    text-transform: none;
    /* padding: 0px 0px 0px 0px; */
}

.link li {
    list-style-type: none;
}

.link ul li i {
    color: #ffc600;
}

.icon1 i {
    color: #ffc600;
}

.marg-left {
    margin-left: 25px;
}


/* list */

.address ul {
    list-style-type: none;
}

.address ul li .content {
    padding-left: 30px;
}

.address ul {
    line-height: 28px;
}

.contact ul {
    margin-top: 20px;
}

.address i {
    font-size: 18px;
    color: #ffc600;
}

p {
    margin-top: 0;
    margin-bottom: 0 !important;
}

.address ul {
    padding-left: 0;
}

.social-media ul li {
    display: inline-block;
}

.social-media ul li a i {
    color: #fff;
    font-size: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #234e02;
    transition-duration: 0.4s;
    transition-property: all;
    text-align: center;
}

.social-media i {
    padding-top: 12px;
}

.social-media ul li a i:hover {
    background-color: #ffc600;
    color: black;
}

.bg6 {
    background-color: #234e02;
    color: #fff;
}

.width-carou img {
    width: 300px !important;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: none !important;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.carous-item .item {
    color: #000;
}


/* students what they say */

.stu-height {
    height: 50vh;
}

.page-banner {
    background-image: url("../images/page-banner.jpg");
    background-size: cover;
    background-position: center;
}

.page-banner {
    width: 100%;
    height: 15vh;
}

.bg-dark1 {
    width: 100%;
    height: 15vh;
    background: #07294db9;
    position: relative;
    z-index: 1;
}

.text-hom {
    color: white;
    text-transform: none;
    font-size: 18px;
}

.active {
    color: #ffc600;
}

.style-list li {
    list-style-type: none;
    display: inline-block;
    font-size: 18px;
}

.sub-header1 {
    text-align: end;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: 0.5rem;
    color: #fff !important;
    content: var(--bs-breadcrumb-divider, "/");
}

.abou-size {
    font-size: 28px !important;
}

.pa-heigh {
    line-height: 30px;
}


/* courses page */

.body-color {
    background-color: #e1dcdc;
}


/* contact us page */

.contact-form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 75px 0px rgba(0, 0, 0, 0.1);
}

.sub-cust {
    background-color: #ffc600;
    border: 1px solid #ffc600;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 5px;
    transition: 1s;
    margin-bottom: 20px;
}

.sub-cust:hover {
    cursor: pointer;
    background-color: #07294d;
    color: #ffc600;
}

.contact-form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 75px 0px rgba(0, 0, 0, 0.1);
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.contact-form form {
    padding-top: 40px;
}

.form-ml {
    margin-left: 40px !important;
}

.textare-height {
    height: 15vh;
}

.ml-cus {
    margin-left: 15px;
}

.address-list-style {
    padding-left: 1rem;
}

.address-list-style li {
    list-style-type: none;
}

.contact-address {
    background-color: #fff;
    box-shadow: 0px 0px 75px 0px rgba(0, 0, 0, 0.1);
    padding: 20px 50px 40px;
    border-radius: 5px;
}

.contact-address ul li {
    padding-top: 30px;
}

.contact-address ul li .address-cust {
    display: flex;
    align-items: center;
}

.contact-address ul li .address-cust .address-icon i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #07294d;
    color: #07294d;
    font-size: 24px;
}

.contact-address ul li .address-cust .area {
    padding-left: 15px;
}

.address-icon i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.area p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #000;
    margin: 0px;
}


/* sub menu */

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: none !important;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.size-tex {
    font-size: 12px;
}

.borde-bot li {
    border-bottom: grey !important;
}


/* recent placement page */

.place-cust {
    margin-bottom: 30px;
    margin-top: 30px;
}

.comp-cust {
    margin-bottom: 25px;
}


/* register page */

.dropdown-menu li {
    font-size: 14px;
}


/* students page */

form select {
    height: 8vh;
}


/* reviews page */

.border-dashed {
    border-bottom: 2px dashed #b3b3b3;
}

.border-dashed p {
    line-height: 28px;
    margin-bottom: 30px;
}

.modal-dialog {
    max-width: 500px;
    margin: 0rem !important;
    margin-top: 13rem !important;
}

.modal-header {
    background-color: #0a5f54;
    color: white !important;
}

.modal-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.modal-body {
    background-image: url('../images/whats-bg.png');
    background-size: cover;
    background-position: fixed;
}

.modal-cust {
    margin: auto;
    width: 90%;
    background-color: white;
    border-radius: 5px;
    /* box-shadow: 5px 5px 10px 2px grey; */
}

.modal-body h6 {
    color: rgba(0, 0, 0, 0.4);
}

.modal-dialog {
    width: 375px !important;
}

.modal-cust h6 {
    font-size: 13px;
}

.modal-cust p {
    font-size: 14px;
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0em 0em !important;
    color: #fff !important;
    background-color: transparent !important;
    border: 0;
    border-radius: 0.25rem;
    opacity: 0;
}

.modal-footer button {
    margin: 20px;
    width: 320px;
    padding: 8px 12px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
}

.modal-footer img {
    margin-bottom: 5px;
}

.modal-footer {
    padding: 0rem !important;
}

.ropad {
    padding-right: calc(var(--bs-gutter-x) * 0) !important;
    padding-left: calc(var(--bs-gutter-x) * 0) !important;
}

.tex-bol {
    font-weight: 700;
}

.chat-box {
    background-color: white;
    z-index: 16000160 !important;
    margin-bottom: 60px;
    width: 360px;
    position: fixed !important;
    bottom: 65px !important;
    left: 0px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    font: 400 normal 15px/1.3 -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
}